{{#> ../../components/layout/layout
        title="About page"
        keywords="keyword 1, keyword 2"
        description="About page description"
}}


    <section class="simple-page about-page">


        <div class="container">

            <div class="section__top-block">

                <div class="section__top-block-link"></div>

                <div class="bg-color"></div>

                <div class="section__top-block-content">

                    <div class="section__top-block-main-part">
                        <div class="title">
                            <h1>About NW Advisors</h1>
                            <p class="large">
                                Established in 2005 as the Russia and CIS office of FTI Consulting (formerly Financial
                                Dynamics), NW Advisors helps leading international and local companies promote, develop
                                and protect their corporate brands and reputations.
                            </p>
                        </div>
                        <div class="content">
                            <p class="large">
                                In 2017, NW Advisors became an independent consultancy with exclusive reach to the
                                global network of FTI Consulting in 28 countries on five continents.
                                <br><br>
                                We are a strong team of experts that delivers unique capabilities through exceptional
                                industry expertise and market knowledge. We believe that fresh ideas, a holistic
                                approach, and outstanding execution, combined with dedication to new opportunities are
                                what modern business requires.
                                <br><br>
                                NW Advisors successfully gathers the best of all strategic communications practices
                                under one roof.
                            </p>
                        </div>
                    </div>

                    <div class="section__top-block-secondary-part">
                        <div class="content">
                            <img class="main-image" src="./images/about-1.png" alt="About NW Advisors">
                            <div class="description">
                                <p><span class="inline-circle"></span>
                                    Having historically specialized in <a>financial communications</a>, NW Advisors has
                                    worked on numerous capital markets deals. We provide critical advice on
                                    transactions and conduct effective engagement with leading international
                                    financial media and other global stakeholders.
                                </p>
                                <br>
                                <p>
                                    We have helped companies such as <a>Sberbank</a>, <a>Mail.ru Group</a>, <a>NLMK</a>,
                                    <a>Polyus Gold</a>, <a>Tinkoff
                                    Credit Systems</a> and others to go public on the international markets.</p>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

            <div class="section__wide-content-with-link">
                <a href="#">what we do?</a>
                <div class="content">
                    <ul>
                        <li>
                            <div class="text-container">
                                <h2>Public Relations</h2>
                                <p>
                                    Visibility in the media is pivotal for any company from a start-up to a large
                                    corporation. Public relations is the fastest way to reach a target from building
                                    brand awareness to enhancing customers base and attracting investments.
                                    <br><br>
                                    One of our unrivalled strengths is international media relations. Thanks to our
                                    global network we can easily reach influencers worldwide.
                                    <br><br>
                                    We play one of the leading roles in organization of media engagement at such
                                    prestigious international events as the Saint-Petersburg Economic Forum, East
                                    Economic Forum and others.
                                    <br>Among our present and recent partners there are such global brands as ACCOR
                                    Hotel Management Company, Morgan Stanley, Coca-Cola, Hyperloop and others.
                                </p>
                            </div>
                            <div class="image-container">
                                <svg viewBox="0 0 150 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M119.835 69.5263C119.835 104.608 111.569 133.053 101.376 133.053C91.1825 133.053 82.9258 104.608 82.9258 69.5263C82.9258 34.4451 91.1922 6 101.376 6C111.569 6 119.835 34.4451 119.835 69.5263Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M133.17 69.5264C133.17 94.7112 127.235 115.131 119.922 115.131C112.61 115.131 106.675 94.7112 106.675 69.5264C106.675 44.3416 112.61 23.9218 119.922 23.9218C127.244 23.9218 133.17 44.3416 133.17 69.5264Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M146.426 69.5264C146.426 94.7112 140.492 115.131 133.179 115.131C125.857 115.131 119.932 94.7112 119.932 69.5264C119.932 44.3416 125.866 23.9218 133.179 23.9218C140.492 23.9218 146.426 44.3416 146.426 69.5264Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M30.8422 69.5263C30.8422 85.9432 26.9787 99.2446 22.2097 99.2446C17.4406 99.2446 13.5771 85.9432 13.5771 69.5263C13.5771 53.1191 17.4406 39.808 22.2097 39.808C26.9787 39.808 30.8422 53.1191 30.8422 69.5263Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M15.0219 53.0516H8.78835C6.1485 53.0516 4 60.4208 4 69.5264C4 78.6222 6.13886 86.0011 8.78835 86.0011H14.5691" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M22.209 99.2833C22.209 99.2833 61.1612 96.0616 97.3677 131.587" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M22.209 39.7695C22.209 39.7695 61.1612 42.9911 97.3677 7.46619" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M106.617 69.5264C106.617 81.651 104.208 91.4799 101.25 91.4799C98.2924 91.4799 95.8838 81.651 95.8838 69.5264C95.8838 57.4018 98.2924 47.5728 101.25 47.5728C104.218 47.5728 106.617 57.4018 106.617 69.5264Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text-container">
                                <h2>Corporate Reputation</h2>
                                <p>
                                    We help our clients build profiles, drive and protect their corporate reputations
                                    and brands. We develop consistent and trustworthy messages, deliver them to all
                                    stakeholders through the most efficient types of communications channels.
                                    <br><br>
                                    NW Advisors assesses corporate communications strategies to improve and evolve them.
                                    We closely monitor the latest global trends to timely use favorable positioning
                                    opportunities for our clients.
                                </p>
                            </div>
                            <div class="image-container">
                                <svg viewBox="0 0 150 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.2817 133.905C14.8133 133.905 12 131.088 12 127.616V35.9435C12 32.4711 14.8133 29.6545 18.2817 29.6545H132.19C135.659 29.6545 138.472 32.4711 138.472 35.9435V127.616C138.472 131.088 135.659 133.905 132.19 133.905H18.2817Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M138.462 47.0842V67.398C138.462 70.8705 135.649 73.687 132.181 73.687H18.2817C14.8133 73.687 12 70.8705 12 67.398V48.6372" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M48.457 29.6545V14.289C48.457 10.8166 51.2703 8 54.7387 8H95.7142C99.1826 8 101.996 10.8166 101.996 14.289V29.6545" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M85.9837 73.687C85.9837 79.6384 81.1664 84.4516 75.2316 84.4516C69.2871 84.4516 64.4795 79.6288 64.4795 73.687C64.4795 67.7357 69.2967 62.9225 75.2316 62.9225C81.1664 62.9225 85.9837 67.7357 85.9837 73.687Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text-container">
                                <h2>Crisis Communications</h2>
                                <p>
                                    Market uncertainties and deterioration of the investment climate due to economic and
                                    geopolitical implications can cause crisis situations. Every company should be
                                    prepared to be able to address challenges swiftly and thoroughly.
                                    <br><br>
                                    Our team of experienced professionals helps design and execute internal and external
                                    crisis management policies as well as train responsible employees how to approach
                                    and tackle critical issues.
                                </p>
                            </div>
                            <div class="image-container">
                                <svg viewBox="0 0 150 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 97L50.8257 48.127L94.3629 91.7147L144.733 41.2866" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M146.147 58.8457V40H127.064" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text-container">
                                <h2>Social Media Strategies</h2>
                                <p>
                                    Social media have broken down traditional boundaries. One can hardly argue the
                                    importance of social media in our daily life, whilst modern business is no
                                    exception.
                                    <br><br>
                                    Our experts design social media strategies for our clients to captivate and engage
                                    the online community.
                                </p>
                            </div>
                            <div class="image-container">
                                <svg viewBox="0 0 150 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M60.4426 90.3128C60.4426 93.9203 57.5234 96.8429 53.9201 96.8429C50.3167 96.8429 47.3975 93.9203 47.3975 90.3128C47.3975 86.7053 50.3167 83.7827 53.9201 83.7827C57.5234 83.7827 60.4426 86.7053 60.4426 90.3128Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M81.59 90.3128C81.59 93.9203 78.6708 96.8429 75.0674 96.8429C71.4641 96.8429 68.5449 93.9203 68.5449 90.3128C68.5449 86.7053 71.4641 83.7827 75.0674 83.7827C78.6708 83.7827 81.59 86.7053 81.59 90.3128Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M102.748 90.3128C102.748 93.9203 99.829 96.8429 96.2257 96.8429C92.6224 96.8429 89.7031 93.9203 89.7031 90.3128C89.7031 86.7053 92.6224 83.7827 96.2257 83.7827C99.8194 83.7827 102.748 86.7053 102.748 90.3128Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M139.792 41.4961V108.466C139.792 111.832 136.873 112.527 134.734 111.244L120.013 102.283" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M120.022 90.3127V129.532C120.022 132.86 117.141 133.545 115.031 132.271L92.3994 117.938" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M139.792 72.7287V13.7937C139.792 9.49175 136.304 6 132.007 6H19.7846C15.4876 6 12 9.49175 12 13.7937V82.4515C12 86.7535 15.4876 90.2452 19.7846 90.2452H31.5002" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M93.0257 118.111H37.4636C34.1686 118.111 31.4902 115.43 31.4902 112.131V68.4942C31.4902 65.1954 34.159 62.5139 37.4636 62.5139H114.048C117.343 62.5139 120.022 65.1954 120.022 68.4942V112.131" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text-container">
                                <h2>Public Affairs</h2>
                                <p>
                                    We are proud to offer our clients support in managing political risk that is a
                                    crucial issue in the contemporary world with its changing geopolitical
                                    environment.
                                    <br><br>
                                    NW Advisors monitors and analyzes key political and regulatory
                                    developments in favor of our clients, helps define public policy, build, manage and
                                    evolve government and third parties relationships, provides events communications
                                    support, etc.
                                </p>
                            </div>
                            <div class="image-container">
                                <svg viewBox="0 0 150 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50.6445 34.4292H79.4806" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 45.0007H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 55.5723H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 66.1538H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 76.7253H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 87.2969H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 97.8687H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 108.45H79.4805" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M21.7988 119.021H51.3189" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M18.802 133.895C15.0445 133.895 12 130.847 12 127.085V27.8797C12 24.1178 15.0445 21.0698 18.802 21.0698H83.8348C87.5922 21.0698 90.6367 24.1178 90.6367 27.8797V127.085C90.6367 130.847 87.5922 133.895 83.8348 133.895H18.802Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M66.5986 21.0795V14.2407C66.5986 10.7972 69.3926 8 72.8321 8H88.1028H119.213L138.694 28.989V105.19C138.694 108.633 135.9 111.43 132.46 111.43H99.9051H90.6271" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M138.684 30.0983H124.743C121.12 30.0983 118.182 27.1564 118.182 23.5296V8.00977" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M125.619 91.5699C125.619 95.8719 122.141 99.354 117.844 99.354C113.547 99.354 110.069 95.8719 110.069 91.5699C110.069 87.268 113.547 83.7859 117.844 83.7859C122.132 83.7859 125.619 87.268 125.619 91.5699Z" stroke="#506A88" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="simple-page__decoration decoration-1"></div>
        <div class="simple-page__decoration decoration-2"></div>
        <div class="simple-page__decoration decoration-3"></div>

    </section>





{{/../../components/layout/layout}}


