{{#> ../../components/layout/layout
        title="Contacts page"
        keywords="keyword 1, keyword 2"
        description="Contacts page description"
}}


    <section class="simple-page contacts-page">

        <div class="simple-page__decoration decoration-1"></div>
        <div class="simple-page__decoration decoration-2"></div>

        <div class="container">
            <div class="section__top-block">

                <a class="section__top-block-link" href="#">go back</a>

                <div class="section__top-block-content">

                    <div class="section__top-block-main-part">
                        <div class="title">
                            <a href="tel:+74957950623" class="h1">+7 (495) 795-06-23</a>
                            <a href="mailto:info@nwadvisors.com" class="h1">info@nwadvisors.com</a>
                        </div>
                        <div class="content">
                            <ul>
                                <li>12 Trubnaya st., Moscow, Russia, 107045</li>
                                <li>11 - 12 St. James's Square, London, England, SW1Y 4LB</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section__top-block-secondary-part">
                        <div class="content">
                            <div class="map">
                                <div class="map-container">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.4311144939115!2d37.622714215931126!3d55.768383980557566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a69aba319dd%3A0x65d462040bef68bb!2z0KLRgNGD0LHQvdCw0Y8g0YPQuy4sIDEyLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA3MDQ1!5e0!3m2!1sru!2sua!4v1607500518540!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

<!--        <div class="container">-->

<!--            <div class="section__header">-->
<!--                <a href="#">go back</a>-->
<!--                <div class="title">-->
<!--                    <a href="tel:+74957950623" class="h1">+7 (495) 795-06-23</a>-->
<!--                    <a href="mailto:info@nwadvisors" class="h1">info@nwadvisors</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="section__content-with-indent section__split">-->
<!--                <div class="content">-->
<!--                    <ul>-->
<!--                        <li>12 Trubnaya st., Moscow, Russia, 107045</li>-->
<!--                        <li>11 - 12 St. James's Square, London, England, SW1Y 4LB</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="map">-->
<!--                    <div class="map-container">-->
<!--                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.4311144939115!2d37.622714215931126!3d55.768383980557566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a69aba319dd%3A0x65d462040bef68bb!2z0KLRgNGD0LHQvdCw0Y8g0YPQuy4sIDEyLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA3MDQ1!5e0!3m2!1sru!2sua!4v1607500518540!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->


        <div class="pre-footer">
            <div class="pre-footer__bg"></div>
            <div class="container">
                <div class="pre-footer__content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.4311144939115!2d37.622714215931126!3d55.768383980557566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a69aba319dd%3A0x65d462040bef68bb!2z0KLRgNGD0LHQvdCw0Y8g0YPQuy4sIDEyLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA3MDQ1!5e0!3m2!1sru!2sua!4v1607500518540!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>





{{/../../components/layout/layout}}


