{{#> ../../components/layout/layout
        title="News page"
        keywords="keyword 1, keyword 2"
        description="News page description"
}}


    <section class="simple-page news-page">

        <div class="simple-page__decoration decoration-1"></div>
        <div class="simple-page__decoration decoration-2"></div>

        <div class="container">
            <div class="section__top-block">

                <a class="section__top-block-link" href="#">go back</a>

                <div class="section__top-block-content">

                    <div class="section__top-block-main-part">
                        <div class="post-info">
                            <p class="date">September 28, 2020</p>
                        </div>
                        <div class="title">
                            <h1>Expert Ivan Ivanov joins NW Advisors as a Senior Director</h1>
                        </div>
                        <div class="content">
                            <p class="large">Speaker Ivan served as Speaker of the U.S. House of Representatives from October 2015 to January 2019. He was the youngest Speaker in nearly 150 years. During his tenure, he spearheaded efforts to reform the U.S. tax code for the first time in a generation, rebuild the national defense, expand domestic energy production, combat the opioid epidemic, reform the criminal justice system, and promote economic opportunity.</p>
                            <br>
                            <br>
                            <p class="large">We glad to see new our team member!</p>

                            <div class="next-link">
                                <a href="#">to next article</a>
                            </div>
                        </div>
                    </div>

                    <div class="section__top-block-secondary-part">
                        <img class="content" src="./images/news-post-1.png" alt="Expert Ivan Ivanov joins NW Advisors as a Senior Director">
                    </div>

                </div>

            </div>
        </div>


        <div class="pre-footer">
            <div class="pre-footer__bg"></div>
            <div class="container">
                <div class="pre-footer__content">
                    <img src="./images/news-post-1.png" alt="Expert Ivan Ivanov joins NW Advisors as a Senior Director">
                </div>
            </div>
        </div>
    </section>





{{/../../components/layout/layout}}


