<a class="post-card">
    <div class="image-container">
        <div class="border"></div>
        <div class="image">
            <img src="{{ image }}" alt="{{ title }}">
        </div>
    </div>
    <div class="date">{{ date }}</div>
    <h3>{{ title }}</h3>
</a>
