{{#> ../../components/layout/layout
        title="Search page"
        keywords="keyword 1, keyword 2"
        description="Search page description"
}}


    <section class="simple-page search-page">

        <div class="simple-page__decoration decoration-1"></div>
        <div class="simple-page__decoration decoration-2"></div>

        <div class="container">
            <div class="section__header">
                <a href="#">go back</a>
                <div class="title">
                    <input type="text" value="information" placeholder="search...">
                </div>
            </div>

            <div class="section__content-with-indent">

                <div class="search-element">
                    <h2>Services</h2>
                    <div class="content">
                        He works across Retail, Financial and <p class="search-word">information</p> Transportation specialty teams. Oleg provides senior counsel to the largest Russian and international companies.
                    </div>
                    <div class="nav-link">
                        <a href="#">learn more</a>
                    </div>
                </div>

                <div class="search-element">
                    <h2>Team</h2>
                    <div class="content">
                        then Dmitry has successfully executed over <p class="search-word">information</p> 50 large IT projects for clients like Volkswagen, Audi, Gazprom, ING Bank, Sheremetyevo International ...
                    </div>
                    <div class="nav-link">
                        <a href="#">learn more</a>
                    </div>
                </div>

            </div>
        </div>

    </section>





{{/../../components/layout/layout}}


