<footer>

    <div class="container">

        <div class="addresses">
            <a class="nav-link" href="./contacts.html">to contacts page</a>
            <ul>
                <li>12 Trubnaya st., Moscow, Russia, 107045</li>
                <li>11 - 12 St. James's Square, London, SW1Y 4LB, England</li>
            </ul>
        </div>

        <div class="logos">
            <a href="#">
                <img src="./images/partner-1.png" alt="Логотип партнера 1">
            </a>
            <a href="#">
                <img src="./images/partner-2.png" alt="Логотип партнера 2">
            </a>
        </div>

        <div class="contacts">
            <div><a href="tel:+74957950623" class="nav-link">+7 (495) 795-06-23</a></div>
            <div><a href="mailto:info@nwadvisors">info@nwadvisors.com</a></div>
            <div><span>© 2020 by NW Advisors</span></div>
        </div>

        <div class="others">
            <a href="#" class="nav-link">privacy policy</a>
<!--            <div>-->
<!--                <span>made by</span>-->
<!--                <a href="#">-->
<!--                    <img src="./images/creator-logo.svg" alt="Логотип компании - создателя сайта">-->
<!--                </a>-->
<!--            </div>-->
        </div>

    </div>

</footer>
