{{#> ../../components/layout/layout
        title="Service page"
        keywords="keyword 1, keyword 2"
        description="Service page description"
}}


    <section class="simple-page page-404">

        <div class="container">

            <div class="section__header">
                <a href="#">error 404</a>
                <div class="title">
                    <span class="h1-animation-container">
                        <h1>The page you tried to reach could not be found</h1>
                    </span>
                </div>
            </div>

            <div class="page-404-content">
                <div class="pulse">
                    <img class="large" src="./images/pulse.svg" alt="error 404">
                    <img class="small" src="./images/pulse-small.svg" alt="error 404">
                </div>

                <div class="section__content-with-indent">
                    <p>You may start</p>
                    <a href="/">from a home page</a>
                </div>
            </div>


            <div class="page-404-decoration">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 647.2 496">
                    <ellipse fill="none" stroke="#ED493B" stroke-width="2"
                             transform="matrix(0.7969 -0.6041 0.6041 0.7969 -102.5646 191.5037)" cx="233.5" cy="248.3"
                             rx="141.8" ry="274.8"/>
                    <ellipse fill="none" stroke="#ED493B" stroke-width="2"
                             transform="matrix(0.8555 -0.5178 0.5178 0.8555 -67.2141 166.3942)" cx="264.5" cy="203.6"
                             rx="274.8" ry="138.4"/>
                    <ellipse fill="none" stroke="#ED493B" stroke-width="2"
                             transform="matrix(0.6034 -0.7974 0.7974 0.6034 -31.5092 421.3969)" cx="407.9" cy="242.4"
                             rx="139.7" ry="274.8"/>
                    <circle fill="#ED493B" cx="334.1" cy="199.9" r="15"/>
                </svg>

            </div>

        </div>


    </section>





{{/../../components/layout/layout}}


