$bp-xxl: 1400px;
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
$bp-xs: 350px;

$color-primary: #ED493B;
$color-secondary: #FFFFFF;

$bg-color-1: #081C2B;
$bg-color-2: #506A88;
$bg-color-3: #A0B3C2;

$text-color-1: #222222;
$text-color-2: #081C2B;
$text-color-3: #506A88;
$text-color-4: #A0B3C2;

$link-color-primary: $color-primary;

$placeholder-color-1: #506A88;
$placeholder-color-2: #A0B3C2;


$font-family-primary: 'Montserrat', sans-serif;


$transition-1: .25s ease-in-out;

$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-1-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.08);




